
<div id="wrapper">
  <div class="slide" id="compare">
    <div class="chartHead">Increased small donor activity</div>
      <div class="chatter">Comparing ActBlue donations from Minnesotans between <span class="legendary gray3">2015</span> and <span class="legendary blue3">2019</span> shows an uptick in small donations to Democrats.</div>

      <p></p>
      <div class="chartTitle">Minnesota ActBlue donations to all committees</div>
      <div class="chart" id="allChart"></div>

      <div class="chartTitle">Minnesota ActBlue donations to presidential campaigns</div>
      <div class="chart" id="prezChart"></div>

      <div class="byline">Data source: ActBlue, Federal Election Commission | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>

  </div>

  <div class="slide" id="klobuchar">
    <div class="chartHead">Klobuchar's small-dollar donors</div>
    <div id="klobuChart">
      <div class="chatter">About 79,000 unique donors have given small amounts to Sen. Amy Klobuchar's presidential campaign, with a quarter coming from Minnesotans, the most of any single state:</div>
      <p></p>
            <div class="bar">
              <div class='blue4 mainbar' style="width:74%"><div>Outside MN<br />74%</div></div><div class='blue3 mainbar' style="width:26%"><div>MN<br />26%</div></div>
            </div>

      <p></p>
      <div class="chatter">Though a fifth of her Minnesota donors also give to other candidates:</div>
      <p></p>
            <div class="bar">
                <div class='blue4 mainbar' style="width:80%"><div>Klobuchar only<br />80%</div></div><div class='blue3 mainbar' style="width:20%"><div>Klobuchar, others<br />20%</div></div>
              </div>
    </div>



    <p></p>

    <div class="byline">Data source: ActBlue, Federal Election Commission | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>

  </div>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
